# Lacework credentials
lacework_account    = "{{ secrets.LW_ACCOUNT }}"
lacework_api_key    = "{{ secrets.LW_API_KEY }}"
lacework_api_secret = "{{ secrets.LW_SECRET }}"

# Azure configuration
azure_subscription_id = "{{ secrets.AZ_SUBS_ID }}"
azure_tenant_id       = "{{ secrets.AZ_TENANT_ID }}"
region                = "{{ secrets.AZ_REGION }}"
